
    <!---->
    <div class="product-grids">
        <div class="container">
            <div class="product-top">
                <div class="col-md-4 grid-product-in">
                    <div class=" product-grid">

                        <a onclick="location.href='@Url.Action("Single","Home")'" title="image">
                            <img class="img-responsive " src="~/images/pic.jpg" alt="" >
                            </a>
                            <div class="shoe-in">
                                <h6>
                                    @Html.ActionLink("Lorem Ipsum is simply", "Single");
                                </h6>
                                <label>$67.99</label>
                                @Html.ActionLink("FIND A STORE", "Single", null, new { @class = "store" })

                            </div>

                            <b class="plus-on">+</b>
                    </div>
                </div>
                <div class="col-md-4 grid-product-in">
                    <div class=" product-grid">

                        <a onclick="location.href='@Url.Action(" Single","Home")'" title="image">
                            <img class="img-responsive " src="~/images/pic.jpg" alt="">
                        </a>
                        <div class="shoe-in">
                            <h6>
                                @Html.ActionLink("Lorem Ipsum is simply", "Single");
                            </h6>
                            <label>$67.99</label>
                            @Html.ActionLink("FIND A STORE", "Single", null, new { @class = "store" })
                        </div>

                        <b class="plus-on">+</b>
                    </div>
                </div>
                <div class="col-md-4 grid-product-in">
                    <div class=" product-grid">

                        <a onclick="location.href='@Url.Action("Single","Home")'" title="image">
                            <img class="img-responsive " src="~/images/pic.jpg" alt="">
                        </a>
                        <div class="shoe-in">
                            <h6>
                                @Html.ActionLink("Lorem Ipsum is simply", "Single");
                            </h6>
                            <label>$67.99</label>
                            @Html.ActionLink("FIND A STORE", "Single", null, new { @class = "store" })
                        </div>

                        <b class="plus-on">+</b>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="product-top">
                <div class="col-md-4 grid-product-in">
                    <div class=" product-grid">

                        <a onclick="location.href='@Url.Action("Single","Home")'" title="image">
                            <img class="img-responsive " src="~/images/pic.jpg" alt="">
                        </a>
                        <div class="shoe-in">
                            <h6>
                                @Html.ActionLink("Lorem Ipsum is simply", "Single");
                            </h6>
                            <label>$67.99</label>
                            @Html.ActionLink("FIND A STORE", "Single", null, new { @class = "store" })
                        </div>

                        <b class="plus-on">+</b>
                    </div>
                </div>
                <div class="col-md-4 grid-product-in">
                    <div class=" product-grid">

                        <a onclick="location.href='@Url.Action("Single","Home")'" title="image">
                            <img class="img-responsive " src="~/images/pic.jpg" alt="">
                        </a>
                        <div class="shoe-in">
                            <h6>
                                @Html.ActionLink("Lorem Ipsum is simply", "Single");
                            </h6>
                            <label>$67.99</label>
                            @Html.ActionLink("FIND A STORE", "Single", null, new { @class = "store" })
                        </div>

                        <b class="plus-on">+</b>
                    </div>
                </div>
                <div class="col-md-4 grid-product-in">
                    <div class=" product-grid">

                        <a onclick="location.href='@Url.Action("Single","Home")'" title="image">
                            <img class="img-responsive " src="~/images/pic.jpg" alt="">
                        </a>
                        <div class="shoe-in">
                            <h6>
                                @Html.ActionLink("Lorem Ipsum is simply", "Single");
                            </h6>
                            <label>$67.99</label>
                            @Html.ActionLink("FIND A STORE", "Single", null, new { @class = "store" })
                        </div>

                        <b class="plus-on">+</b>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            <div class="product-top">
                <div class="col-md-4 grid-product-in">
                    <div class=" product-grid">

                        <a onclick="location.href='@Url.Action("Single","Home")'" title="image">
                            <img class="img-responsive " src="~/images/pic.jpg" alt="">
                        </a>
                        <div class="shoe-in">
                            <h6>
                                @Html.ActionLink("Lorem Ipsum is simply", "Single");
                            </h6>
                            <label>$67.99</label>
                            @Html.ActionLink("FIND A STORE", "Single", null, new { @class = "store" })
                        </div>

                        <b class="plus-on">+</b>
                    </div>
                </div>
                <div class="col-md-4 grid-product-in">
                    <div class=" product-grid">

                        <a onclick="location.href='@Url.Action("Single","Home")'" title="image">
                            <img class="img-responsive " src="~/images/pic.jpg" alt="">
                        </a>
                        <div class="shoe-in">
                            <h6>
                                @Html.ActionLink("Lorem Ipsum is simply", "Single");
                            </h6>
                            <label>$67.99</label>
                            @Html.ActionLink("FIND A STORE", "Single", null, new { @class = "store" })
                        </div>

                        <b class="plus-on">+</b>
                    </div>
                </div>
                <div class="col-md-4 grid-product-in">
                    <div class=" product-grid">

                        <a onclick="location.href='@Url.Action("Single","Home")'" title="image">
                            <img class="img-responsive " src="~/images/pic.jpg" alt="">
                        </a>
                        <div class="shoe-in">
                            <h6>
                                @Html.ActionLink("Lorem Ipsum is simply", "Single");
                            </h6>
                            <label>$67.99</label>
                            @Html.ActionLink("FIND A STORE", "Single", null, new { @class = "store" })
                        </div>

                        <b class="plus-on">+</b>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!---->